# Secrets

# Database

# API
DBURI=postgres://postgres:postgres@db:5432/postgres
NODE_ENV=development

# Application
VITE_APIURL=https://fishnv.apis.wildlifenv.com
VITE_TILE_URL=https://fishnv.apis.wildlifenv.com
VITE_MAPTILER_KEY=2BL4ZBQCqs6NfOUgnKGy